<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row mt20">
          <div class="col-md-6 offset-md-3 text-center">
            <div class="bg">  
            <h1>Welcome to Examportal</h1>
          </div>
            <!-- <button mat-raised-button color="accent">Home Page</button> -->
          </div>
        </div>
      </div>
    </div> 
</body>
</html>